.tile {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
}
.tile .chess-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 95px;
    background-position: center;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.black-tile {
    background-color: rgb(212, 68, 11);
}

.white-tile {
    background-color: honeydew;
}

